.inline {
    display: flex;
}

.hidden {
	visibility: hidden;
}

div.fade {
    opacity:    0.5; 
    background: #000; 
    width:      100%;
    height:     100%; 
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}

#progressBackground {
    width: 100%;
    background-color: #333;
	border-radius: 15px;
}

#progressBar {
    width: 100%;
    background-color: #333;
	border-radius: 15px;
}
  
#progressLabel {
    width: 0%;
    height: 30px;
    background-color: #04AA6D;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    margin-left: 15px;
}

#floatingCirclesG {
    z-index:    11;
	position:absolute;
	width:125px;
	height:125px;
    text-align: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG {
	position:absolute;
	background-color:transparent;
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01 {
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02 {
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03 {
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04 {
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05 {
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06 {
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07 {
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08 {
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

@keyframes f_fadeG {
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:transparent;
	}
}

@-o-keyframes f_fadeG {
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:transparent;
	}
}

@-ms-keyframes f_fadeG {
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:transparent;
	}
}

@-webkit-keyframes f_fadeG {
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:transparent;
	}
}

@-moz-keyframes f_fadeG {
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:transparent;
	}
}

.header {
	height: 50px;
    display: flex;
    align-items: center;
	gap: 20px;
}

.dashboardForm {
	display: flex;
	height: 75%;
}

.dashboardForm form {
	width: 50%;
}

.dashboardForm input {
	position: relative;
	padding: 12px;
	border-radius: 5px;
	border-color: transparent;
	border-width: 0px;
	font-weight: bold;
	background-color: #EEE;
	color: #333;
    float: unset;
    width: unset;
    left: unset;
}

.dashboardForm input {
	margin-right: 25px;
    width: -webkit-fill-available;
    background-color: #333;
    color: #FFF;
}

.dashboardForm textarea {
	max-width: 100%;
	margin-right: 25px;
	resize: none;
    width: -webkit-fill-available;
    background-color: #333;
    color: #FFF;
}

.dashboardForm h5 {
	margin-top: 0px;
}

.dashboardForm button {
	margin-top: 0px;
}

.feedbackButton {
    margin-top: 20px;
}

#feedback h4 {
	margin-top: 0px;
}

#cols {
	display: flex;
}

.col {
	display: unset;
	width: 50%;
}

#feedback input {
    position: unset;
    padding: unset;
    border-radius: unset;
    border-color: unset;
    border-width: unset;
    font-weight: unset;
    background-color: unset;
    color: unset;
    float: unset;
    width: unset;
    left: unset;
}

.checkboxes {
	padding-left: 10px;
	display: flex;
	background-color: #333;
	height: 40px;
	border-radius: 15px;
}

.checkboxes label {
	margin-right: 25px;
	margin-left: 15px;
	margin-top: 8px;
    vertical-align: -webkit-baseline-middle;
}

#descriptionCharacterLength {
	color: #999;
}

.downloadButton {
	width: 100%;
	margin-bottom: 30px;
}

.suggestionsList {
	margin-bottom: 35px;
}